<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyoseop.feb071.error.ErrorMapper">
	<select id="getAllError" resultType="com.hyoseop.feb071.error.Error">
		select * from error order by e_where
	</select>
	
	<select id = "getMyinput" parameterType="com.hyoseop.feb071.error.Error" resultType="com.hyoseop.feb071.error.Error">
		select * from error where e_what like '%'||#{e_what}||'%' 
	</select>
</mapper>

